* {
  -webkit-font-smoothing: antialiased;
}
body,
html {
  @apply p-0 m-0 w-screen overflow-x-hidden;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  scroll-behavior: smooth;
}
body {
  @apply pt-28 mt-2;
}
.container {
  @apply ml-auto mr-auto xl:px-[150px];
}
h1,
.h1 {
  //   font-weight: 700;
  font-family: "Lato", sans-serif;
  @apply text-3xl font-bold text-center m-0 leading-tight pb-8;
}

h2,
.h2 {
  @apply text-2xl font-bold mt-0 pb-8;
}

h2,
.h2,
h3,
.h3 {
  @apply font-bold leading-6 leading-tight;
}

h3,
.h3 {
  @apply text-[20px] mb-[10px];
}

h3,
.h3 h4,
.h4 {
  @apply text-secondary-black;
}

h4,
.h4 {
  @apply text-base font-bold leading-6  mb-[10px];
}

h5,
.h5 {
  @apply text-sm font-normal leading-4 text-third-black m-0;
}

p {
  @apply pb-5 leading-7 text-dark-gray text-base lg:text-[15px] font-light;
}
section p:last-child,
section h1:last-child,
section .h1:last-child,
section h2:last-child,
section .h2:last-child,
div p:last-child,
div h1:last-child,
div .h1:last-child 
div h2:last-child,
div .h2:last-child , 
main ul li:last-child{
  @apply pb-0;
}
.section-general {
  > .wp-block-group__inner-container {
    @apply py-12 px-[15px] md:py-[10%] xl:py-24  md:px-[5%] xl:px-36 max-w-[1440px];
  }
}
.max-w-sm1{
  @apply max-w-[690px] ml-auto mr-auto;
}
.max-w-sm2 {
  @apply max-w-[750px] ml-auto mr-auto;
}
.max-w-sm3 {
  @apply max-w-[840px] ml-auto mr-auto;
}
.max-w-md2 {
  @apply max-w-[920px] ml-auto mr-auto;
}
.max-w-md3 {
  @apply max-w-[950px] ml-auto mr-auto;
}
.max-w-lg1 {
  @apply max-w-[1130px] ml-auto mr-auto;
}
.max-w-lg2 {
  @apply max-w-[1140px] ml-auto mr-auto;
}


.boxes {
  @apply grid #{!important};
  @apply grid-cols-2 lg:grid-cols-4 gap-x-4 xl:gap-x-7  mt-24 mb-14 lg:mb-24;
  .wp-block-column {
    @apply bg-light-gray rounded-2xl py-[39px] px-[21px] items-center;
    .wp-block-heading {
      @apply text-center;
    }
  }
  .wp-block-image{
    @apply flex justify-center;
  }
}

.box-white{
  @apply items-center justify-center text-center md:text-left bg-white rounded-2xl py-10 px-7 mb-[40px]  ;
  &__thumb{
    @apply  max-w-[100px] md:max-w-[130px];
  }
  &__content{
    flex-basis: 100% !important;
  }
}
div .box-white:last-child, section .box-white:last-child{
  @apply mb-0;
}

.wp-block-button__link {
  @apply w-[250px] h-[60px] leading-[60px] p-0 rounded-none text-[13px] bg-black hover:bg-dark-red transition-all duration-300;
}

main {
  ul,ol{
    @apply  pl-3 leading-7 text-dark-gray text-[15px] font-light text-base;
    li{
      @apply pl-3 pb-5;
    }
  }
  ul {
    @apply  list-disc ;
  }
  ol {
    @apply list-decimal;
  }
}

.content-columns{
  &__content{
    @apply max-w-[690px] order-2 text-center md:text-left;
    ul{
      @apply text-left;
    }
  }
  &__thumb{
    @apply flex justify-center items-center ;
    &:not(.first){
      @apply order-1 md:order-3 md:justify-end;
    }
    &.first{
      @apply md:justify-start;
    }
    >figure{
      @apply max-w-[200px] lg:max-w-[292px];
    }
  }
}


.icon{
  @apply w-4 h-4 block;
  background-size: 100% 100%;
  &--in,&--chat,&--youtube{
    background-position: center;
    background-repeat: no-repeat !important;
  }
  &--in{
      background-image: url('~images/common/icon_linkedin.svg');
  }
  &--chat{
    background-image: url('~images/common/icon_wechat.svg');
  }
  &--youtube{
    background-image: url('~images/common/icon_youtube.svg');
  }
}